$backgroundColor: #00000099;
$borderColor: #2a2828;

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // background-color: &$backgroundColor;
  background-image: url('./asset/img-1.jpg');

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  footer {
    background: black;
    border-top: 1px solid $borderColor;
    padding: 1em 3em;
    margin: 0;
    color: #eee;
    opacity: 95%;
    bottom: 0;
    position: relative;
  }

  header {
    background: black;
    border-bottom: 1px solid $borderColor;
    color: #eee;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    opacity: 95%;
  }
}

.req {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #8b8b8b;
  opacity: 95%;
  margin: 10;
  padding: 0.5em;
  border: 10px solid #ccc;
}

.url {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #8b8b8b;
  opacity: 95%;
  margin: 10;
  padding: 0.5em;
  border: 10px solid #ccc;
}